<a href="/robots">Robot Index</a>

<h1><%= @robot.name %></h1>

<p><%= @robot.city %></p>

<p><%= @robot.state %></p>

<p><%= @robot.avatar %></p>

<p><%= @robot.date_hired %></p>

<p><%= @robot.department%></p>

<img src="www.robohash.org/<%=@robot.name%>">

